@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
.bg-primary {
  background-color: rgba(247, 247, 247, 1);
}
.display-flex {
  display: flex;
}
.body section {
  max-width: 1200px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* navbar and banner styles */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navbar-intro {
  align-items: center;
  gap: 10px;
}
.navbar-intro img {
  width: 100%;
}
.intro-title {
  font-size: 2.5vw;
  font-weight: 700;
  /* line-height: 2vw; */
  color: rgba(17, 17, 17, 1);
}
.nav-links {
  gap: 30px;
  align-items: center;
}
.nav-items {
  list-style: none;
}
.nav-link1,
.nav-link2,
.nav-link3,
.nav-link4 {
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
  /* line-height: 2vw; */
}
.nav-link1 {
  color: rgba(254, 163, 1, 1);
}
.nav-link2 {
  color: rgba(5, 212, 223, 1);
}
.nav-link3 {
  color: rgba(93, 88, 239, 1);
}
.nav-link4 {
  color: rgba(1, 172, 253, 1);
}
.btn-nav {
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  font-size: 1.25vw;
  font-weight: 600;

  /* line-height: 2vw; */
  color: #ffffff;
  background-color: rgba(254, 163, 1, 1);
  cursor: pointer;
}
.btn-nav:hover {
  background-color: black;
}
.menu {
  display: none;
}
.banner {
  align-items: center;
  gap: 50px;
}
.banner-content {
  max-width: 670px;
}
.banner-title {
  font-size: 3vw;
  font-weight: 700;
  /* line-height: 4vw; */
  margin-bottom: 24px;
}
#empower {
  color: rgba(254, 163, 1, 1);
}
#vision {
  color: rgba(1, 172, 253, 1);
}
.banner-description {
  font-size: 1.4vw;
  /* line-height: 2vw; */
  margin-bottom: 24px;
}
.btn-banner {
  padding: 10px 45px;
  border: none;
  border-radius: 12px;
  font-size: 1.25vw;
  font-weight: 700;
  /* line-height: 2vw; */
  color: #ffffff;
  background-color: rgba(17, 17, 17, 1);
  cursor: pointer;
}
.btn-banner:hover {
  background-color: brown;
  color: black;
}
.banner-image {
  width: 530px;
}
.banner-image img {
  width: 100%;
}
/* curriculum section styles */
.curriculum {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img {
  width: 135px;
  height: 135px;
}
.curriculum-title {
  margin-top: 60px;
  font-size: 3vw;
  font-weight: 700;
  color: #000000;
  margin-bottom: 80px;
}
.curriculum-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 25px;
  margin-bottom: 60px;
}
.curriculum-card-1,
.curriculum-card-2,
.curriculum-card-3 {
  /* max-width: 365px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  gap: 40px;
}
.curriculum-card-1 {
  border: 1px solid #def5ff;
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgba(222, 245, 255, 1),
      rgba(255, 255, 255, 0) 40%
    ),
    rgba(255, 255, 255, 1);
}
.curriculum-card-2 {
  border: 1px solid #fff4dc;
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgba(255, 244, 220, 1),
      rgba(255, 255, 255, 0) 40%
    ),
    rgba(255, 255, 255, 1);
}
.curriculum-card-3 {
  border: 1px solid #f2e8ff;
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgba(238, 225, 255, 1),
      rgba(255, 255, 255, 0) 40%
    ),
    rgba(255, 255, 255, 1);
}
.card-title {
  font-size: 1.5vw;
  font-weight: 700;
}
.card-description {
  font-size: 1vw;
  font-weight: 500;
}
.card-more-1,
.card-more-2,
.card-more-3 {
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 50px;
}
.card-more-1 {
  color: #64c8ff;
}
.card-more-2 {
  color: #f0aa00;
}
.card-more-3 {
  color: #8700ff;
}
.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .body {
    background-color: #ffffff;
  }
  .body section {
    max-width: 390px;
    margin: 0 auto;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid rgba(254, 163, 1, 1);
  }
  .intro-title {
    font-size: 3vw;
  }
  .nav-links {
    display: none;
  }
  .btn-nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .banner-title {
    /* margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px; */
    font-size: 5vw;
    /* line-height: 5vw; */
  }
  .banner-description {
    font-size: 3.5vw;
    /* line-height: 3vw; */
    margin-bottom: 15px;
  }
  .banner-image {
    width: 390px;
  }
  .banner-image img {
    width: 100%;
  }
  .btn-banner {
    font-size: 2.5vw;
    /* line-height: 3vw; */
  }
  .curriculum-title {
    font-size: 5vw;
    margin-bottom: 40px;
  }
  .curriculum-cards-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .card-title {
    font-size: 4vw;
  }
  .card-description {
    font-size: 3vw;
  }
  .card-more-1,
  .card-more-2,
  .card-more-3 {
    font-size: 3vw;
  }
  .icon-container {
    display: none;
  }
}
